// color
@scale: #fff;
@indicator-border: #fff;
@indicator-bg: #000;
@main-bg: #000;
@panel-bg: grey;
@panel-w: 70px;
@otstup: 80px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:tahoma;
	user-select:none;
	cursor: default;
}
body{
	background-color: @main-bg;
	perspective: 2500px;
	position: relative;
}
.container{
	width:640px;
	height:480px;
	margin: 50px auto;
	overflow:hidden;
	background-color: @main-bg;
	position:relative;
}
.left-panel {
	position: absolute;
	left: @otstup;
	display: block;
	width: @panel-w;
	height: 600px;
	background: @panel-bg;
	overflow: hidden;
	&__indicator {
		position: absolute;
		border: 2px solid @indicator-border;
		display: block;
		width: 65px;
		height: 70px;
		background: @indicator-bg;
		top: 30%;
		left: calc(@otstup / 1.5);
		z-index: 1;
		&--fixed, &--motion {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&--fixed {
			left: 5px;
		}
		&--motion {
			right: 5px;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			border: 2px solid;
			border: 10px solid transparent;
		}
		&:after {
			right: -18px;
			border-left: 10px solid;
		}
		&:before {
			right: -22px;
			border-left: 10px solid #fff;
		}
	}
	&__wrapper {/* движуйщийся блок размер шкалы*/
		width: 100%;
		height: 450px;
		border: none;
		position: absolute;
		top: 0px; /* задает положение шкалы 0 - 45000*/
	}
	&__item {
		position:absolute;
		right: 0;
		width:20px;
		height:1.8px;
		border: none;
		background: @scale;
		
		&:after {// цыфры через одну
			content: '';
			position: absolute;
			top: -7px;
			right: 30px;
		}
		&:nth-child(1) {
			top: 0;
			&:after {
				content: "450";
			}
		}
		&:nth-child(2) {
			top: 30px;
			&:after {
				content: "";
			}
		}
		&:nth-child(3) {
			top: 60px;
			&:after {
				content: "448";
			}
		}
		&:nth-child(4) {
			top: 90px;
			&:after {
				content: "";
			}
		}
		&:nth-child(5) {
			top: 120px;
			&:after {
				content: "446";
			}
		}
		&:nth-child(6) {
			top: 150px;
			&:after {
				content: "";
			}
		}
		&:nth-child(7) {
			top: 180px;
			&:after {
				content: "444";
			}
		}
		&:nth-child(8) {
			top: 210px;
			&:after {
				content: "";
			}
		}
		&:nth-child(9) {
			top: 240px;
			&:after {
				content: "442";
			}
		}
		&:nth-child(10) {
			top: 270px;
			&:after {
				content: "";
			}
		}
		&:nth-child(11) {
			top: 300px;
			&:after {
				content: "440";
			}
		}
		&:nth-child(12) {
			top: 330px;
			&:after {
				content: "";
			}
		}
		&:nth-child(13) {
			top: 360px;
			&:after {
				content: "438";
			}
		}
		&:nth-child(14) {
			top: 390px;
			&:after {
				content: "";
			}
		}
		&:nth-child(15) {
			top: 420px;
			&:after {
				content: "436";
			}
		}
		&:nth-child(16) {
			top: 450px;
			&:after {
				content: "";
			}
		}
		&:nth-child(17) {
			top: 480px;
			&:after {
				content: "434";
			}
		}
		&:nth-child(18) {
			top: 510px;
			&:after {
				content: "";
			}
		}
		&:nth-child(19) {
			top: 540px;
			&:after {
				content: "432";
			}
		}
		&:nth-child(20) {
			top: 570px;
			&:after {
				content: "";
			}
		}
		&:nth-child(21) {
			top: 600px;
			&:after {
				content: "430";
			}
		}
		&:nth-child(22) {
			top: 630px;
			&:after {
				content: "";
			}
		}
		&:nth-child(23) {
			top: 660px;
			&:after {
				content: "428";
			}
		}
		&:nth-child(24) {
			top: 690px;
			&:after {
				content: "";
			}
		}
		&:nth-child(25) {/* шаг 30px */
			top: 720px;
			&:after {
				content: "426";
			}
		}
	}
}
.right-panel {
	position: absolute;
	right: @otstup;
	display: block;
	width: @panel-w;
	height: 600px;
	background: @panel-bg;
	overflow: hidden;
	&__trapezoid {
		position: absolute;
		top: 36%;
		width: 50%;
		height: 28%;
		border: 15px solid @main-bg;
		transform: perspective(40px) rotateY(30deg);
	}
	&__indicator {
		position: absolute;
		border: 2px solid @indicator-border;
		display: block;
		width: 70px;
		height: 70px;
		background: @indicator-bg;
		top: 30%;
		right: calc(@otstup / 1.7);
		z-index: 1;
		&--fixed, &--motion {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		
		&--fixed {
			left: 10px;
		}
		&--motion {
			right: 5px;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			border: 2px solid;
			border: 10px solid transparent;
		}
		&:after {
			left: -18px;
			border-right: 10px solid @indicator-bg;
		}
		&:before {
			left: -22px;
			border-right: 10px solid @indicator-border;
		}
	}
	&__wrapper {/* движуйщийся блок размер шкалы*/
		width: 100%;
		height: 45000px;
		border: none;
		position: absolute;
		top: 0px; /* задает положение шкалы 0 - 45000*/
	}
	&__item {
		position:absolute;
		left: 0;
		width:25px;
		height:1.8px;
		border: none;
		background: @scale;
		&--fixed {
			position:absolute;
			left: 10px;
			width:12px;
			height:1.8px;
			border: none;
			background: @scale;
			&:after {// цыфры через одну
				content: '';
				position: absolute;
				top: -7px;
				left: 2px;
			}
			&:nth-child(1) {
				top: 3%!important;
				&:after {
					content: "asd";
				}
			}
			&:nth-child(2) {
				top: 6%;
				&:after {
					content: "";
				}
			}
			&:nth-child(3) {
				top: 10%;
				&:after {
					content: "";
				}
			}
			&:nth-child(4) {
				top: 17%;
				&:after {
					content: "";
				}
			}
			&:nth-child(5) {
				top: 25%;
				&:after {
					content: "";
				}
			}
			&:nth-child(6) {/* центральная */
				top: 50%;
				width: 40px;
				&:after {
					content: "";
				}
			}
			&:nth-child(7) {
				bottom: 25%;
				&:after {
					content: "";
				}
			}
			&:nth-child(8) {
				bottom: 17%;
				&:after {
					content: "";
				}
			}
			&:nth-child(9) {
				bottom: 10%;
				&:after {
					content: "";
				}
			}
			&:nth-child(10) {
				bottom: 6%;
				&:after {
					content: "";
				}
			}
			&:nth-child(11) {
				bottom: 3%;
				&:after {
					content: "";
				}
			}
		}
		
		&:after {// цыфры через одну
			content: '';
			position: absolute;
			top: -7px;
			left: 30px;
		}
		&:nth-child(1) {
			top: 0;
			&:after {
				content: "45000";
			}
		}
		&:nth-child(2) {
			top: 70px;
			&:after {
				content: "";
			}
		}
		&:nth-child(3) {
			top: 140px;
			&:after {
				content: "44800";
			}
		}
		&:nth-child(4) {
			top: 210px;
			&:after {
				content: "";
			}
		}
		&:nth-child(5) {
			top: 280px;
			&:after {
				content: "44600";
			}
		}
		&:nth-child(6) {
			top: 350px;
			&:after {
				content: "";
			}
		}
		&:nth-child(7) {
			top: 420px;
			&:after {
				content: "44400";
			}
		}
		&:nth-child(8) {
			top: 490px;
			&:after {
				content: "";
			}
		}
		&:nth-child(9) {
			top: 560px;
			&:after {
				content: "44200";
			}
		}
		&:nth-child(10) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(11) {
			top: 560px;
			&:after {
				content: "44000";
			}
		}
		&:nth-child(12) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(13) {
			top: 560px;
			&:after {
				content: "43800";
			}
		}
		&:nth-child(14) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(15) {
			top: 560px;
			&:after {
				content: "43600";
			}
		}
		&:nth-child(16) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(17) {
			top: 560px;
			&:after {
				content: "43400";
			}
		}
		&:nth-child(18) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(19) {
			top: 560px;
			&:after {
				content: "43200";
			}
		}
		&:nth-child(20) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(21) {
			top: 560px;
			&:after {
				content: "43000";
			}
		}
		&:nth-child(22) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(23) {
			top: 560px;
			&:after {
				content: "42800";
			}
		}
		&:nth-child(24) {
			top: 560px;
			&:after {
				content: "";
			}
		}
		&:nth-child(25) {
			top: 560px;
			&:after {
				content: "42600";
			}
		}
	}
	&__strelka {
		width: 125px;
		height: 8px;
		background-color: @indicator-border;
		border-radius: 50% 5px 5px 50%;
		position: absolute;
		right: -50px;
		top: calc(50% - 8px / 2);
		transform: rotate(-10deg);
		transform-origin: 100%;
		animation-name: strelka;
		transition:.6s;
		animation-duration: 9s;
	}
	&--fixed {
		position: absolute;
		top: 30px;
		right: 0;
		width: calc(@panel-w - 10px);
		height: 300px;
		background: @panel-bg;
		border-color: transparent;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 21px;
		}
		&:before {
			top: -1px;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-top: 100px solid @main-bg;
		}
		&:after {
			bottom: -1px;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-bottom: 100px solid @main-bg;
		}
	}
}


.speedometr{
	width: 350px;
	height: 350px;
	border: solid 4px transparent;
	border-radius: 50%;
	margin: 300px auto;
	position:relative;
	background: @panel-bg;
}
.triangle {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	transform: translate(-50%, -50%);
	border: 20px solid;
	border-top-color: @indicator-border;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}
.triangle:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid;
	transform: translate(-50%, -50%);
	border-top-color: @indicator-bg;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.black{  /* обрезает низ спидометра */
	width:100%;
	height:95px;
	background: @main-bg;
	position:absolute;
	bottom:-5px;
	left:0px;
}
.ris-w{
	/*    áåëûå ðèñêè*/
	position:absolute;
	width:15px;
	height:1.5px;
	background-color: @indicator-border;
}
.ris-w:nth-child(1){
/*   top:60px;
  left:45px;
  transform: rotate(40deg); */
}
.ris-w:nth-child(2){
	top:60px;
	left:45px;
	transform: rotate(40deg);
}
.ris-w:nth-child(3){
	top: 35px;
	left:75px;
	transform: rotate(45deg);
}
.ris-w:nth-child(4){
	top: 12px;
	left: 130px;
	transform: rotate(70deg);
	animation-delay: 1.0s;
}
.ris-w:nth-child(5){
	top: 12px;
	right: 130px;
	transform: rotate(-70deg);
	animation-delay: .2s;
}
.ris-w:nth-child(6){
	top: 35px;
	right:75px;
	transform: rotate(-45deg);
	animation-delay: .9s;
}
.ris-w:nth-child(7){
	top: 60px;
	right: 45px;
	transform: rotate(-40deg);
}
.ris-w:nth-child(8){
/*   top: 90px;
  right:82px;
  transform: rotate(-180deg); */
}

.ris{
	width: 16px;
	height: 4px;
	background-color: #fff;
	position: absolute;
}
.ris-o1{
	top: 75px;
	left: 30px;
	transform: rotate(40deg);
}
.ris-o2{
	top: 45px;
	left: 60px;
	transform: rotate(45deg);
}
.ris-o3{
	top: 20px;
	left: 100px;
	transform: rotate(54deg);
}
.ris-o4{
	top: 20px;
	right: 100px;
	transform: rotate(-54deg);
}
.ris-o5{
	top: 45px;
	right: 60px;
	transform: rotate(-45deg);
}
.ris-o6{
	top: 75px;
	right: 30px;
	transform: rotate(-40deg);
}
span{
	color:#fff;
	font-size: 15px;
	display: block;
	position: absolute;
}
span.s-1{

}
span.s-2{
	top: 65px;
	left: 65px;
}
span.s-3{
	top: 40px;
	left: 90px;
}
span.s-4{
	top: 22px;
	left: 135px;
}
span.s-5{
	top: 22px;
	right: 135px;
}
span.s-6{
	top: 40px;
	right: 90px;
}
span.s-7{
	top: 65px;
	right: 65px;
}
span.s-8{
/*   top: 65px;
right: 65px; */
}

.strelka{
	width: 250px;
	height: 8px;
	background-color: #FFA429;
	border-radius: 50% 5px 5px 50%;
	position: absolute;
	left: 22px;
	top: calc(50% - 8px / 2);
	transform: rotate(-10deg);
	transform-origin: 100%;
	animation-name: strelka;
	transition:.6s;
	animation-duration: 9s;
}
@keyframes strelka{
	0%{
		opacity: 1;
	}
	45%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	61%{
		transform: rotate(-10deg);
	}
	80%{
		transform: rotate(190deg);
	}
	100%{
		transform: rotate(-10deg);
	}
}